input[type="datetime-local"] {
  text-transform: uppercase;
  position: relative;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}