#aside-background {
  background-image: url(../assets/images/Background.png);
  background-size: 100% 728px;
  background-repeat: no-repeat;

  height: 728px;
  padding-top: 2rem;
  padding-inline: 2rem;

  border-radius: 0.75rem;
}

aside {
  padding: 1.25rem;

  img {
    width: 2.86rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 0.25rem;
  }

  p {
    color: var(--text-heading);
    font: var(--body-md);
    font-weight: lighter;
  }
}